@font-face {
    font-family: AeroviasBrasilNF;
    src: url(../Fonts/aerovias-brasil-nf.regular.otf);
}
@font-face {
    font-family: Anton-regular;
    src: url(../Fonts/Anton-Regular.ttf);
}