* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  cursor: url(../Images/cursor.png), auto;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  background: rgb(14, 14, 14);
  color: white;
  height: 100%;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: sticky;
  top: 0;
  z-index: 998;
  background-color: rgb(14, 14, 14);
}

/* Navbar start */
nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

#navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  align-items: center;
  gap: 70px;
  margin: 0 auto;
  width: 90%;

}

/* Settings Box */
#style1 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 0;
  height: 30px;
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 37px;
  left: 43px;
  transition: 0.4s all;

}

#style1::-webkit-color-swatch {
  border-radius: 0 20px 20px 0;
  border: none;
}

#style1::-moz-color-swatch {
  border-radius: 15px;
  border: none;
}

.sidelist {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 17px;

}

.sideListA {
  font-family: Anton-regular;
  letter-spacing: 2px;
  width: 50%;
}

i {
  font-size: 1.4em;
  color: greenyellow;
}

.fa-bars {
  color: greenyellow;
  transition: 0.6s;
}

/* Logo */
.logo {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  --text-stroke-color: greenyellow;
  --animation-color: greenyellow;
  --fs-size: 2.5em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
  font-family: AeroviasBrasilNF;
}

.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.7s;
  -webkit-text-stroke: 1px var(--animation-color);
  font-family: AeroviasBrasilNF;
}

.logo:hover .hover-text {
  width: 100%;
  font-family: AeroviasBrasilNF;
}

/* Sliderbar Menu */
.sidebarMenu {
  width: 0;
  height: 100vh;
  background-color: #171718;
  top: 0;
  right: 0;
  z-index: 999;
  padding-top: 80px;
  transition: 0.5s;
  overflow-x: hidden;
  position: absolute;
}

.fa-image,
.fa-laptop,
.fa-user,
.fa-inbox {
  font-size: 1.3em;
}

.closeBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2em;
  color: greenyellow;
  transition: 0.6s;
}

/* Gallery Section */
.gallerySection {
  width: 0;
  height: 100vh;
  background: rgb(14, 14, 14);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  padding-top: 80px;
  transition: 0.8s;
  overflow-x: hidden;
}

.galleryCloseBtn {
  position: absolute;
  font-size: 3em;
  top: 20px;
  right: 30px;
  color: greenyellow;
}

.galleryHeadline {
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Projects Section */
.projectsSection {
  width: 0;
  height: 100vh;
  background: rgb(14, 14, 14);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  padding-top: 80px;
  transition: 0.8s;
  overflow-x: hidden;
}

.projectsCloseBtn {
  position: absolute;
  font-size: 3em;
  top: 20px;
  right: 30px;
  color: greenyellow;
}

.projectsHeadline {
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* About Section */
.aboutSection {
  width: 0;
  height: 100vh;
  background: rgb(14, 14, 14);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  padding-top: 80px;
  transition: 0.8s;
  overflow-x: hidden;
}

.aboutCloseBtn {
  position: absolute;
  font-size: 3em;
  top: 20px;
  right: 30px;
  color: greenyellow;
}

.aboutHeadline {
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Contact Section */
.contactSection {
  width: 0;
  height: 100vh;
  background: rgb(14, 14, 14);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  padding-top: 80px;
  transition: 0.8s;
  overflow-x: hidden;
}

.contactCloseBtn {
  position: absolute;
  font-size: 3em;
  top: 20px;
  right: 30px;
  color: greenyellow;
}

.contactHeadline {
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Services Section */
.servicesSection {
  width: 0;
  height: 100vh;
  background: rgb(14, 14, 14);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  padding-top: 80px;
  transition: 0.8s;
  overflow-x: hidden;
}

.servicesCloseBtn {
  position: absolute;
  font-size: 3em;
  top: 20px;
  right: 30px;
  color: greenyellow;
}

.servicesHeadline {
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Pricing Section */

.pricingSection {
  width: 0;
  height: 100vh;
  background: rgb(14, 14, 14);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  padding-top: 80px;
  transition: 0.8s;
  overflow-x: hidden;
}

.pricingCloseBtn {
  position: absolute;
  font-size: 3em;
  top: 20px;
  right: 30px;
  color: greenyellow;
}

.pricingHeadline {
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Main Section */
main {
  height: 100vh;

}

.mainSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  overflow-x: hidden;
  position: relative;
}

/* Main Section Box */

.mainSectionBox {
  height: 80vh;
  width: 92%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

h1 {
  margin-bottom: 20px;
  color: white;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3em;
  transition: 0.6s all;
}


.alyvText {
  color: greenyellow;
  transition: 0.6s all;
}

/* Typing Animation */
#typing-animation {
  width: 35%;
  margin-bottom: 30px;
  font-size: 1.4em;
  font-family: Anton-regular;
  color: greenyellow;
  letter-spacing: 1px;
}

#typing-animation:after {
  content: "|";
  color: var(--after-color);
}

/* Paragraph */
.paragraph {
  display: flex;
}

.paragraph p {
  font-size: 1.4em;
  margin-right: 5px;
  font-family: Anton-regular;
  letter-spacing: 1px;
}

/* My Image */
.ImgDiv {
  position: static;

}
.imgBox {
  height: 400px;
  width: 400px;
  background-color: #adff2f;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.myImage {
  width: 620px;
  position: absolute;
  bottom: 0;
  left: -100px;
}

/* Left Translation */
.left {
  transform: translateX(-400px);
  animation: leftTranslate 0.8s cubic-bezier(0, 0.55, 0.45, 1) forwards;
}

@keyframes leftTranslate {
  to {
    transform: translateX(0);
  }
}

/* Right Translation */
.rightT {
  transform: translateX(400px);
  animation: rightOne 0.9s cubic-bezier(0, 0.55, 0.45, 1) forwards;
}

@keyframes rightOne {
  to {
    transform: translateX(0);
  }
}

/* Top Translation */
.topT {
  transform: translateY(-100px);
  animation: TopTranslation 0.9s cubic-bezier(0, 0.55, 0.45, 1) forwards;
}

@keyframes TopTranslation {
  to {
    transform: translateX(0);
  }
}

/* Fade In Translation */
.hover-effect {
  opacity: 1;
  animation: fade-in 0.8s ease-in forwards;
}
@keyframes fade-in {
  to {
    opacity: 1;
  }
}

/* Main Button */
.mainBtn {
  transition: 0.4s all;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: greenyellow;
  color: #171718;
  letter-spacing: 1px;
  border: 1px solid greenyellow;
}

/* Services Section */
.servicesSectionBox {
  width: 100%;
  height: 55vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background: no-repeat url(../Images/background.svg);
  

}

.serviceDiv {
  height: 50px;
  overflow-y: hidden;
}

.service {
  font-size: 2.9em;
  text-transform: uppercase;
  color: transparent;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-text-stroke: 1px #adff2f;
  transition: 0.6s;
}

.sSectionOne {
  background-color: rgb(15, 15, 15);
  width: 22%;
  height: 50vh;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.developerParagraph {
  width: 20vw;
  height: 30vh;
  color: rgb(255, 255, 255);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.3em;
  text-align: center;
  font-weight: 700;
  padding: 10px;
  font-size: 0.9em;

}

.developer {
  font-size: 2em;
  color: rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  text-align: center;
}


.sSectionTwo {
  background-color: rgb(15, 15, 15);
  background-size: cover;
  background-position: bottom 20px;
  width: 22%;
  height: 50vh;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.sSectionThree {
  background-color: rgb(15, 15, 15);
  background-size: cover;
  background-position: bottom 20px;
  width: 22%;
  height: 50vh;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.sSectionFour {
  background-color: rgb(15, 15, 15);
  background-size: cover;
  background-position: bottom 20px;
  width: 22%;
  height: 50vh;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}




/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(14, 14, 14);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color, greenyellow);
}